# data analysis and wrangling

## Imports

In [58]:
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# preprocessing
from sklearn import preprocessing

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier

from sklearn.metrics import accuracy_score

## Load Data

In [59]:
train_df = pd.read_csv('../dataset/train.csv')
test_df = pd.read_csv('../dataset/test.csv')
result_df = pd.read_csv('../dataset/gender_submission.csv')
combine = [train_df , test_df]
print(train_df.columns.values)

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

In [60]:
# for dataset in combine:
#     dataset['Mu'] = 1
#     dataset.loc[(dataset.Ticket.duplicated(keep= False)) , 'Mu'] = 0
#     dataset['Mu'] = dataset['Mu'].astype(int)
# train_df[['Mu', 'Survived']].groupby(['Mu'], as_index=False).mean()

In [61]:
print("Before", train_df.shape, test_df.shape, combine[0].shape, combine[1].shape)

train_df = train_df.drop(['Cabin', 'Ticket'], axis=1)
test_df = test_df.drop([ 'Cabin', 'Ticket'], axis=1)
combine = [train_df, test_df]

"After", train_df.shape, test_df.shape, combine[0].shape, combine[1].shape

Before (891, 12) (418, 11) (891, 12) (418, 11)

('After', (891, 10), (418, 9), (891, 10), (418, 9))

In [62]:
for dataset in combine:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)
    
pd.crosstab(train_df['Title'], train_df['Sex'])

Sex       female  male
Title
Capt           0     1
Col            0     2
Countess       1     0
Don            0     1
Dr             1     6
Jonkheer       0     1
Lady           1     0
Major          0     2
Master         0    40
Miss         182     0
Mlle           2     0
Mme            1     0
Mr             0   517
Mrs          125     0
Ms             1     0
Rev            0     6
Sir            0     1

In [63]:
for dataset in combine:
    dataset['Title'] = dataset['Title'].replace(['Mlle', 'Lady', 'Ms', 'Countess'], 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    dataset['Title'] = dataset['Title'].replace(['Sir', 'Major'], 'Mr')
    dataset['Title'] = dataset['Title'].replace('^(?!.*(Miss|Mrs|Mr|Master)).*$', 'Rare',regex=True)
    
train_df[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

    Title  Survived
0  Master  0.575000
1    Miss  0.705882
2      Mr  0.159615
3     Mrs  0.793651
4    Rare  0.222222

In [64]:
title_mapping = {"Mr": 1, "Miss": 4, "Mrs": 2, "Master": 3, "Rare": 0}
for dataset in combine:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)

train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S,4
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S,1

In [65]:
train_df = train_df.drop(['Name', 'PassengerId'], axis=1)
test_df = test_df.drop(['Name'], axis=1)
combine = [train_df, test_df]
train_df.shape, test_df.shape

((891, 9), (418, 9))

In [66]:
for dataset in combine:
    dataset['Sex'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

train_df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked  Title
0         0       3    0  22.0      1      0   7.2500        S      1
1         1       1    1  38.0      1      0  71.2833        C      2
2         1       3    1  26.0      0      0   7.9250        S      4
3         1       1    1  35.0      1      0  53.1000        S      2
4         0       3    0  35.0      0      0   8.0500        S      1

## Completing a numerical continuous featureÂ¶

In [67]:
guess_ages = np.zeros((2,5))
guess_ages

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [68]:
for dataset in combine:
    for i in range(0,2):
        for j in range(0,5):
            guss_df = dataset[(dataset['Sex'] == i) & (dataset['Title'] == j +1)]['Age'].dropna()
            guss_age = guss_df.median()
            if guss_age != guss_age:
                guss_age = -5 #dataset[(dataset['Sex'] == i)]['Age'].dropna().median()
            guess_ages[i,j] = int(guss_age/0.5 + 0.5) * 0.5
    for i in range(0,2):
        for j in range(0,5):
            dataset.loc[(dataset.Age.isnull()) & (dataset.Sex == i ) & ( dataset.Title == j+1), 'Age'] = guess_ages[i,j]
    
    dataset.loc[(dataset.Age.isnull()), 'Age'] = dataset[(dataset['Sex'] == i)]['Age'].dropna().median()           
    dataset['Age'] = dataset['Age'].astype(int)
train_df.head()

   Survived  Pclass  Sex  Age  SibSp  Parch     Fare Embarked  Title
0         0       3    0   22      1      0   7.2500        S      1
1         1       1    1   38      1      0  71.2833        C      2
2         1       3    1   26      0      0   7.9250        S      4
3         1       1    1   35      1      0  53.1000        S      2
4         0       3    0   35      0      0   8.0500        S      1

In [69]:
train_df['AgeBand'] = pd.cut(train_df['Age'], 5)
train_df[['AgeBand', 'Survived']].groupby(['AgeBand'], as_index=False).mean().sort_values(by='AgeBand', ascending=True)

         AgeBand  Survived
0  (-0.08, 16.0]  0.548077
1   (16.0, 32.0]  0.327381
2   (32.0, 48.0]  0.438424
3   (48.0, 64.0]  0.434783
4   (64.0, 80.0]  0.090909

In [70]:
for dataset in combine:    
    dataset.loc[ dataset['Age'] <= 16, 'Age'] = 4
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 3
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 1
    dataset.loc[ dataset['Age'] > 64, 'Age'] = 0
train_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,AgeBand
0,0,3,0,3,1,0,7.2500,S,1,"(16.0, 32.0]"
1,1,1,1,2,1,0,71.2833,C,2,"(32.0, 48.0]"
2,1,3,1,3,0,0,7.9250,S,4,"(16.0, 32.0]"
3,1,1,1,2,1,0,53.1000,S,2,"(32.0, 48.0]"
4,0,3,0,2,0,0,8.0500,S,1,"(32.0, 48.0]"

In [71]:
train_df = train_df.drop(['AgeBand'], axis=1)
combine = [train_df, test_df]
train_df.head()

   Survived  Pclass  Sex  Age  SibSp  Parch     Fare Embarked  Title
0         0       3    0    3      1      0   7.2500        S      1
1         1       1    1    2      1      0  71.2833        C      2
2         1       3    1    3      0      0   7.9250        S      4
3         1       1    1    2      1      0  53.1000        S      2
4         0       3    0    2      0      0   8.0500        S      1

In [72]:
for dataset in combine:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch']

train_df[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   FamilySize  Survived
3           3  0.724138
2           2  0.578431
1           1  0.552795
6           6  0.333333
0           0  0.303538
4           4  0.200000
5           5  0.136364
7           7  0.000000
8          10  0.000000

In [73]:
# for dataset in combine:
#     dataset['IsAlone'] = 0
#     dataset.loc[dataset['FamilySize'] == 1, 'IsAlone'] = 1

# train_df[['IsAlone', 'Survived']].groupby(['IsAlone'], as_index=False).mean()

In [74]:
# for dataset in combine:
#     dataset['IsAlone'] = 0
#     dataset.loc[dataset['FamilySize'] == 1, 'IsAlone'] = 1

# train_df[['IsAlone', 'Survived']].groupby(['IsAlone'], as_index=False).mean()

In [75]:
train_df = train_df.drop(['Parch', 'SibSp'], axis=1)
test_df = test_df.drop(['Parch', 'SibSp'], axis=1)
combine = [train_df, test_df]

train_df.head()

# train_df = train_df.drop([ 'FamilySize'], axis=1)
# test_df = test_df.drop([ 'FamilySize'], axis=1)
# combine = [train_df, test_df]

# train_df.head()

   Survived  Pclass  Sex  Age     Fare Embarked  Title  FamilySize
0         0       3    0    3   7.2500        S      1           1
1         1       1    1    2  71.2833        C      2           1
2         1       3    1    3   7.9250        S      4           0
3         1       1    1    2  53.1000        S      2           1
4         0       3    0    2   8.0500        S      1           0

In [76]:
# for dataset in combine:
#     dataset['Age*Class'] = dataset.Age * dataset.Pclass

# train_df.loc[:, ['Age*Class', 'Age', 'Pclass']].head(10)

In [77]:
freq_port = train_df.Embarked.dropna().mode()[0]
freq_port

'S'

In [78]:
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].fillna(freq_port)
    
train_df[['Embarked', 'Survived']].groupby(['Embarked'], as_index=False).mean().sort_values(by='Survived', ascending=False)

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.339009

In [79]:
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 2, 'Q': 1} ).astype(int)

train_df.head()

   Survived  Pclass  Sex  Age     Fare  Embarked  Title  FamilySize
0         0       3    0    3   7.2500         0      1           1
1         1       1    1    2  71.2833         2      2           1
2         1       3    1    3   7.9250         0      4           0
3         1       1    1    2  53.1000         0      2           1
4         0       3    0    2   8.0500         0      1           0

In [80]:
for dataset in combine:
    dataset['Pclass'] = dataset['Pclass'].fillna(freq_port)
    
train_df[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [81]:
for dataset in combine:
    dataset['Pclass'] = dataset['Pclass'].map( {3: 0, 2: 1, 1: 2} ).astype(int)

train_df.head()

   Survived  Pclass  Sex  Age     Fare  Embarked  Title  FamilySize
0         0       0    0    3   7.2500         0      1           1
1         1       2    1    2  71.2833         2      2           1
2         1       0    1    3   7.9250         0      4           0
3         1       2    1    2  53.1000         0      2           1
4         0       0    0    2   8.0500         0      1           0

In [82]:
test_df['Fare'].fillna(test_df['Fare'].dropna().median(), inplace=True)
test_df.head()

   PassengerId  Pclass  Sex  Age     Fare  Embarked  Title  FamilySize
0          892       0    0    2   7.8292         1      1           0
1          893       0    1    2   7.0000         0      2           1
2          894       1    0    1   9.6875         1      1           0
3          895       0    0    3   8.6625         0      1           0
4          896       0    1    3  12.2875         0      2           2

In [83]:
train_df['FareBand'] = pd.qcut(train_df['Fare'], 4)
train_df[['FareBand', 'Survived']].groupby(['FareBand'], as_index=False).mean().sort_values(by='FareBand', ascending=True)

          FareBand  Survived
0   (-0.001, 7.91]  0.197309
1   (7.91, 14.454]  0.303571
2   (14.454, 31.0]  0.454955
3  (31.0, 512.329]  0.581081

In [84]:
for dataset in combine:
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[ dataset['Fare'] > 31, 'Fare'] = 3
    dataset['Fare'] = dataset['Fare'].astype(int)

train_df = train_df.drop(['FareBand'], axis=1)
combine = [train_df, test_df]
    
train_df.head(10)

   Survived  Pclass  Sex  Age  Fare  Embarked  Title  FamilySize
0         0       0    0    3     0         0      1           1
1         1       2    1    2     3         2      2           1
2         1       0    1    3     1         0      4           0
3         1       2    1    2     3         0      2           1
4         0       0    0    2     1         0      1           0
5         0       0    0    3     1         1      1           0
6         0       2    0    1     3         0      1           0
7         0       0    0    4     2         0      3           4
8         1       0    1    3     1         0      2           2
9         1       1    1    4     2         2      2           1

In [85]:
train_df.head(10)

   Survived  Pclass  Sex  Age  Fare  Embarked  Title  FamilySize
0         0       0    0    3     0         0      1           1
1         1       2    1    2     3         2      2           1
2         1       0    1    3     1         0      4           0
3         1       2    1    2     3         0      2           1
4         0       0    0    2     1         0      1           0
5         0       0    0    3     1         1      1           0
6         0       2    0    1     3         0      1           0
7         0       0    0    4     2         0      3           4
8         1       0    1    3     1         0      2           2
9         1       1    1    4     2         2      2           1

In [86]:
x = train_df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
train_df[:] = x_scaled

x = test_df.values 
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
test_df[:] = x_scaled


combine = [train_df, test_df]
train_df.head(10)

   Survived  Pclass  Sex   Age      Fare  Embarked  Title  FamilySize
0       0.0     0.0  0.0  0.75  0.000000       0.0   0.25         0.1
1       1.0     1.0  1.0  0.50  1.000000       1.0   0.50         0.1
2       1.0     0.0  1.0  0.75  0.333333       0.0   1.00         0.0
3       1.0     1.0  1.0  0.50  1.000000       0.0   0.50         0.1
4       0.0     0.0  0.0  0.50  0.333333       0.0   0.25         0.0
5       0.0     0.0  0.0  0.75  0.333333       0.5   0.25         0.0
6       0.0     1.0  0.0  0.25  1.000000       0.0   0.25         0.0
7       0.0     0.0  0.0  1.00  0.666667       0.0   0.75         0.4
8       1.0     0.0  1.0  0.75  0.333333       0.0   0.50         0.2
9       1.0     0.5  1.0  1.00  0.666667       1.0   0.50         0.1

In [87]:
train_df.head(10)

   Survived  Pclass  Sex   Age      Fare  Embarked  Title  FamilySize
0       0.0     0.0  0.0  0.75  0.000000       0.0   0.25         0.1
1       1.0     1.0  1.0  0.50  1.000000       1.0   0.50         0.1
2       1.0     0.0  1.0  0.75  0.333333       0.0   1.00         0.0
3       1.0     1.0  1.0  0.50  1.000000       0.0   0.50         0.1
4       0.0     0.0  0.0  0.50  0.333333       0.0   0.25         0.0
5       0.0     0.0  0.0  0.75  0.333333       0.5   0.25         0.0
6       0.0     1.0  0.0  0.25  1.000000       0.0   0.25         0.0
7       0.0     0.0  0.0  1.00  0.666667       0.0   0.75         0.4
8       1.0     0.0  1.0  0.75  0.333333       0.0   0.50         0.2
9       1.0     0.5  1.0  1.00  0.666667       1.0   0.50         0.1

## Model, predict and solve

In [88]:
X_train = train_df.drop("Survived", axis=1)
Y_train = train_df["Survived"]
X_test  = test_df.drop("PassengerId", axis=1).copy()
X_train.shape, Y_train.shape, X_test.shape

((891, 7), (891,), (418, 7))

In [89]:
logreg = LogisticRegression()
logreg.fit(X_train, Y_train)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_train, Y_train) * 100, 2)
acc_log

78.34

In [90]:
coeff_df = pd.DataFrame(train_df.columns.delete(0))
coeff_df.columns = ['Feature']
coeff_df["Correlation"] = pd.Series(logreg.coef_[0])

coeff_df.sort_values(by='Correlation', ascending=False)

      Feature  Correlation
1         Sex     2.029409
0      Pclass     1.744950
2         Age     1.220492
5       Title     1.168602
3        Fare     0.596717
4    Embarked     0.452102
6  FamilySize    -1.884110

In [91]:
svc = SVC()
svc.fit(X_train, Y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, Y_train) * 100, 2)
acc_svc

83.16

In [92]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
acc_knn

85.86

In [93]:
gaussian = GaussianNB()
gaussian.fit(X_train, Y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_train, Y_train) * 100, 2)
acc_gaussian

79.91

In [94]:
perceptron = Perceptron()
perceptron.fit(X_train, Y_train)
Y_pred = perceptron.predict(X_test)
acc_perceptron = round(perceptron.score(X_train, Y_train) * 100, 2)
acc_perceptron

74.97

In [95]:
linear_svc = LinearSVC()
linear_svc.fit(X_train, Y_train)
Y_pred = linear_svc.predict(X_test)
acc_linear_svc = round(linear_svc.score(X_train, Y_train) * 100, 2)
acc_linear_svc

78.68

In [96]:
sgd = SGDClassifier()
sgd.fit(X_train, Y_train)
Y_pred = sgd.predict(X_test)
acc_sgd = round(sgd.score(X_train, Y_train) * 100, 2)
acc_sgd

79.8

In [97]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)
acc_decision_tree

88.89

In [98]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

88.89

In [99]:
MLP = MLPClassifier(random_state=1, max_iter=300 )
MLP.fit(X_train, Y_train)
Y_pred = MLP.predict(X_test)
MLP.score(X_train, Y_train)
acc_MLP = round(MLP.score(X_train, Y_train) * 100, 2)
acc_MLP

83.95

In [100]:
    models = pd.DataFrame({'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 'Linear SVC', 
              'Decision Tree', 'MLP'],
    'Score': [acc_svc, acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_linear_svc, acc_decision_tree, acc_MLP]})
models.sort_values(by='Score', ascending=False)

                        Model  Score
3               Random Forest  88.89
8               Decision Tree  88.89
1                         KNN  85.86
9                         MLP  83.95
0     Support Vector Machines  83.16
4                 Naive Bayes  79.91
6  Stochastic Gradient Decent  79.80
7                  Linear SVC  78.68
2         Logistic Regression  78.34
5                  Perceptron  74.97

In [101]:
submission = pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('../out/submission.csv', index=False)

In [102]:
accuracy_score(result_df['Survived'], Y_pred, normalize=False)

369

In [145]:
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras import layers, losses

In [169]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(2)
])

In [170]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

In [172]:
model.fit(X_train.values, Y_train.values, epochs=20)

Train on 891 samples
Epoch 1/20
891/891 [==============================] - 0s 105us/sample - loss: 0.3992 - accuracy: 0.8159
Epoch 2/20
891/891 [==============================] - 0s 115us/sample - loss: 0.3967 - accuracy: 0.8249
Epoch 3/20
891/891 [==============================] - 0s 141us/sample - loss: 0.3914 - accuracy: 0.8361
Epoch 4/20
891/891 [==============================] - 0s 137us/sample - loss: 0.3911 - accuracy: 0.8339
Epoch 5/20
891/891 [==============================] - 0s 134us/sample - loss: 0.3854 - accuracy: 0.8316
Epoch 6/20
891/891 [==============================] - 0s 114us/sample - loss: 0.3824 - accuracy: 0.8384
Epoch 7/20
891/891 [==============================] - 0s 95us/sample - loss: 0.3881 - accuracy: 0.8272
Epoch 8/20
891/891 [==============================] - 0s 104us/sample - loss: 0.3996 - accuracy: 0.8283
Epoch 9/20
891/891 [==============================] - 0s 143us/sample - loss: 0.4053 - accuracy: 0.8373
Epoch 10/20
891/891 [==============================] - 0s 131us/sample - loss: 0.3909 - accuracy: 0.8260
Epoch 11/20
891/891 [==============================] - 0s 123us/sample - loss: 0.3778 - accuracy: 0.8373
Epoch 12/20
891/891 [==============================] - 0s 141us/sample - loss: 0.3767 - accuracy: 0.8406
Epoch 13/20
891/891 [==============================] - 0s 127us/sample - loss: 0.3768 - accuracy: 0.8429
Epoch 14/20
891/891 [==============================] - 0s 150us/sample - loss: 0.3727 - accuracy: 0.8429
Epoch 15/20
891/891 [==============================] - 0s 139us/sample - loss: 0.3828 - accuracy: 0.8305
Epoch 16/20
891/891 [==============================] - 0s 131us/sample - loss: 0.3805 - accuracy: 0.8373
Epoch 17/20
891/891 [==============================] - 0s 127us/sample - loss: 0.3734 - accuracy: 0.8451
Epoch 18/20
891/891 [==============================] - 0s 101us/sample - loss: 0.3732 - accuracy: 0.8361
Epoch 19/20
891/891 [==============================] - 0s 118us/sample - loss: 0.3686 - accuracy: 0.8361
Epoch 20/20
891/891 [==============================] - 0s 167us/sample - loss: 0.3706 - accuracy: 0.8339

In [167]:
Y_pred = model.predict(X_test)

In [168]:
Y_pred

array([[ 7.72662759e-01, -9.49271619e-01],
       [-4.77854192e-01,  2.14862168e-01],
       [ 5.67640245e-01, -5.96419334e-01],
       [ 4.37227070e-01, -8.76711011e-01],
       [-2.29029760e-01, -6.56734481e-02],
       [ 2.93982655e-01, -8.44648898e-01],
       [-8.69355977e-01,  8.19222867e-01],
       [ 4.17080283e-01, -8.22601259e-01],
       [-1.22475088e+00,  1.05164623e+00],
       [ 8.37938607e-01, -1.18060923e+00],
       [ 7.57746041e-01, -1.21387517e+00],
       [-7.93308914e-02, -2.17302173e-01],
       [-2.13883972e+00,  1.96316719e+00],
       [ 6.97875202e-01, -9.55747664e-01],
       [-2.11587405e+00,  1.96584749e+00],
       [-1.86023200e+00,  1.63818562e+00],
       [ 3.75999659e-01, -5.05438507e-01],
       [ 5.32798171e-01, -7.32834816e-01],
       [-1.44211069e-01, -6.38893619e-03],
       [-1.04100645e+00,  9.20889616e-01],
       [-3.24509256e-02, -7.03227371e-02],
       [-6.67738974e-01,  1.53585106e-01],
       [-2.14980960e+00,  2.00211954e+00],
       [-3.32521260e-01,  1.58351243e-01],
       [-2.23512340e+00,  2.07296419e+00],
       [ 8.78430784e-01, -1.14392757e+00],
       [-2.76375484e+00,  2.54806137e+00],
       [ 5.32798171e-01, -7.32834816e-01],
       [-7.93308914e-02, -2.17302173e-01],
       [ 3.33706260e-01, -6.71598256e-01],
       [ 6.97875261e-01, -9.55747604e-01],
       [ 3.48927796e-01, -7.79528797e-01],
       [-1.86577663e-01, -7.90881068e-02],
       [-1.86577663e-01, -7.90881068e-02],
       [-3.32521260e-01,  1.58351243e-01],
       [ 5.32798171e-01, -7.32834816e-01],
       [-3.25413406e-01,  1.79244235e-01],
       [-3.25413406e-01,  1.79244235e-01],
       [ 4.37227070e-01, -8.76711011e-01],
       [-3.10685128e-01, -1.22724131e-01],
       [ 7.68454194e-01, -9.58932579e-01],
       [-1.45998836e-01, -2.27903128e-01],
       [ 8.68927896e-01, -1.19105232e+00],
       [-1.35329247e+00,  1.12887907e+00],
       [-2.11587405e+00,  1.96584749e+00],
       [ 4.37227070e-01, -8.76711011e-01],
       [-6.52431697e-02,  1.77263804e-02],
       [ 6.14352286e-01, -9.14189637e-01],
       [-1.85285091e+00,  1.81495976e+00],
       [-4.16865081e-01,  1.73386157e-01],
       [-2.63754487e-01, -1.48384586e-01],
       [ 9.44612920e-02, -2.61780202e-01],
       [-1.49606574e+00,  1.36317611e+00],
       [-2.31650066e+00,  2.21583724e+00],
       [ 9.44612920e-02, -2.61780202e-01],
       [-3.96431416e-01, -1.78749084e-01],
       [ 8.68927896e-01, -1.19105232e+00],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 4.91863221e-01, -8.50986302e-01],
       [-2.40411997e+00,  2.26978493e+00],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 5.28999090e-01, -9.39308941e-01],
       [ 7.57745981e-01, -1.21387517e+00],
       [-8.69356096e-01,  8.19222867e-01],
       [-1.61617291e+00,  1.16583276e+00],
       [-1.43874788e+00,  1.25565755e+00],
       [-8.69355977e-01,  8.19222867e-01],
       [ 4.83944677e-02, -3.79493356e-01],
       [-2.67848581e-01,  1.45879328e-01],
       [-1.85053909e+00,  1.69810724e+00],
       [-8.69355977e-01,  8.19222867e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [-3.25413406e-01,  1.79244235e-01],
       [-2.67848581e-01,  1.45879328e-01],
       [-2.40411997e+00,  2.26978493e+00],
       [-3.46895635e-01,  1.85854509e-01],
       [ 4.37227070e-01, -8.76711011e-01],
       [-1.92897058e+00,  1.81840372e+00],
       [ 5.28999090e-01, -9.39308941e-01],
       [-8.69355977e-01,  8.19222867e-01],
       [-1.24197936e+00,  7.39318967e-01],
       [ 5.08231997e-01, -7.22630858e-01],
       [ 1.90804049e-01, -3.97189260e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 2.56248444e-01, -4.92380410e-01],
       [ 2.54321039e-01, -5.67239344e-01],
       [-8.69355977e-01,  8.19222867e-01],
       [-3.25413406e-01,  1.79244235e-01],
       [-8.69355977e-01,  8.19222867e-01],
       [-1.50769818e+00,  9.85126317e-01],
       [-4.11068201e-01,  1.26585588e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [-2.03275752e+00,  1.85185540e+00],
       [ 4.37227070e-01, -8.76711011e-01],
       [-2.67848432e-01,  1.45879328e-01],
       [ 7.57745981e-01, -1.21387517e+00],
       [-1.92458773e+00,  1.83979106e+00],
       [ 4.37227070e-01, -8.76711011e-01],
       [-4.38105941e-01,  3.27383906e-01],
       [ 6.22554004e-01, -9.41933453e-01],
       [-2.22201347e+00,  2.10553074e+00],
       [ 2.60212690e-01, -6.52204096e-01],
       [ 6.14352286e-01, -9.14189637e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [-1.11115563e+00,  9.19933975e-01],
       [ 1.55075282e-01, -5.53733110e-01],
       [ 6.14352286e-01, -9.14189637e-01],
       [ 6.14352286e-01, -9.14189637e-01],
       [ 4.37227070e-01, -8.76711011e-01],
       [ 5.28999090e-01, -9.39308941e-01],
       [ 2.86584437e-01, -3.91433269e-01],
       [-8.69355977e-01,  8.19222867e-01],
       [-2.40411997e+00,  2.26978493e+00],
       [-8.69355977e-01,  8.19222867e-01],
       [-2.03962874e+00,  1.91265070e+00],
       [ 2.54321039e-01, -5.67239344e-01],
       [ 5.32798171e-01, -7.32834816e-01],
       [-3.34474385e-01,  2.56145410e-02],
       [-2.35133156e-01,  1.19715229e-01],
       [-1.39110601e+00,  1.18739045e+00],
       [-1.80331647e+00,  1.60426283e+00],
       [ 7.06936717e-01, -1.01720393e+00],
       [-2.22201347e+00,  2.10553074e+00],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 6.14352286e-01, -9.14189637e-01],
       [-2.63308764e-01,  5.27475663e-02],
       [ 7.57745981e-01, -1.21387517e+00],
       [-4.93526876e-01,  3.66693377e-01],
       [ 5.05272090e-01, -7.85112441e-01],
       [ 4.37227070e-01, -8.76711011e-01],
       [ 4.37227070e-01, -8.76711011e-01],
       [ 7.93554306e-01, -7.32132375e-01],
       [ 4.03757915e-02, -3.28804255e-01],
       [ 5.71560502e-01, -8.13953996e-01],
       [ 8.68927896e-01, -1.19105232e+00],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 5.32798171e-01, -7.32834816e-01],
       [ 5.28999090e-01, -9.39308941e-01],
       [-3.25413406e-01,  1.79244235e-01],
       [ 2.30603862e+00, -2.72219729e+00],
       [ 3.42039436e-01, -8.13335061e-01],
       [-2.24698639e+00,  2.17187905e+00],
       [ 2.71202087e-01, -4.34241652e-01],
       [ 2.41945565e-01, -6.40795708e-01],
       [-7.93308914e-02, -2.17302173e-01],
       [ 1.16172647e+00, -1.50863814e+00],
       [-2.06169590e-01, -1.95623875e-01],
       [ 4.37227070e-01, -8.76711011e-01],
       [-1.45998836e-01, -2.27903128e-01],
       [ 1.18548715e+00, -1.50222683e+00],
       [-2.43913722e+00,  2.27501535e+00],
       [ 5.32798171e-01, -7.32834816e-01],
       [ 5.18640399e-01, -8.05869639e-01],
       [-1.57983214e-01, -9.06461924e-02],
       [ 3.44249845e-01, -9.56545711e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [-2.40305805e+00,  2.30033398e+00],
       [-4.38105941e-01,  3.27383906e-01],
       [-7.93307424e-02, -2.17302203e-01],
       [-2.29029730e-01, -6.56735003e-02],
       [-8.69355977e-01,  8.19222867e-01],
       [-1.24197936e+00,  7.39318967e-01],
       [-1.52016735e+00,  1.42184305e+00],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 1.15586054e+00, -1.45141602e+00],
       [-4.63837862e-01,  1.75909504e-01],
       [-2.35133156e-01,  1.19715229e-01],
       [ 1.30991256e+00, -1.68842459e+00],
       [-1.99027526e+00,  1.93371868e+00],
       [-3.25413406e-01,  1.79244235e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 5.32798171e-01, -7.32834816e-01],
       [ 6.36415899e-01, -1.04048109e+00],
       [ 5.32798171e-01, -7.32834816e-01],
       [ 2.07582736e+00, -2.47102261e+00],
       [-1.75030243e+00,  1.48804080e+00],
       [-1.67699325e+00,  1.46930408e+00],
       [-3.24509256e-02, -7.03227371e-02],
       [-1.29777181e+00,  1.06312561e+00],
       [-2.02328253e+00,  1.92339170e+00],
       [ 5.28999090e-01, -9.39308941e-01],
       [-1.88875735e-01,  3.11809517e-02],
       [-2.13883972e+00,  1.96316719e+00],
       [ 6.14352286e-01, -9.14189637e-01],
       [-2.42286587e+00,  2.25372696e+00],
       [ 3.69337320e-01, -6.72660172e-01],
       [-1.60222077e+00,  1.47192311e+00],
       [ 8.84992123e-01, -1.26822376e+00],
       [ 1.03590953e+00, -1.58670044e+00],
       [ 5.05272090e-01, -7.85112441e-01],
       [ 4.38644350e-01, -7.51155555e-01],
       [-1.45998716e-01, -2.27903008e-01],
       [-9.04091835e-01,  3.98883581e-01],
       [ 5.67640245e-01, -5.96419334e-01],
       [-1.40687799e+00,  8.43998373e-01],
       [ 8.68927896e-01, -1.19105232e+00],
       [-1.72099173e+00,  1.31585014e+00],
       [-4.38105941e-01,  3.27383906e-01],
       [ 5.28999090e-01, -9.39308941e-01],
       [-5.46511829e-01,  3.23720276e-01],
       [-6.23209059e-01,  5.48251927e-01],
       [-9.14585888e-01,  4.14296299e-01],
       [ 2.21383676e-01, -3.10258031e-01],
       [-1.71796393e+00,  1.53042948e+00],
       [ 5.28999090e-01, -9.39308941e-01],
       [-2.67848581e-01,  1.45879328e-01],
       [-5.77179611e-01,  5.63971102e-01],
       [ 5.28999090e-01, -9.39308941e-01],
       [-2.25650930e+00,  2.17517281e+00],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 1.55075282e-01, -5.53733110e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 1.06077254e-01, -5.30244708e-01],
       [-1.37346971e+00,  1.19048750e+00],
       [ 8.35769922e-02, -2.51049548e-01],
       [ 4.83944677e-02, -3.79493356e-01],
       [-8.69355977e-01,  8.19222867e-01],
       [ 3.56638193e-01, -6.65103197e-01],
       [-2.02328253e+00,  1.92339170e+00],
       [ 4.37227070e-01, -8.76711011e-01],
       [-1.91873395e+00,  1.75884700e+00],
       [ 4.37227070e-01, -8.76711011e-01],
       [-1.35329223e+00,  1.12887883e+00],
       [ 7.57745981e-01, -1.21387517e+00],
       [-1.70735276e+00,  1.72460294e+00],
       [-2.79800773e-01,  1.90741330e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [-8.69355977e-01,  8.19222867e-01],
       [ 2.49065146e-01, -5.67079723e-01],
       [ 5.05272090e-01, -7.85112441e-01],
       [-9.48649347e-02, -4.19420063e-01],
       [-2.34725380e+00,  2.28913879e+00],
       [ 8.90073419e-01, -1.33612597e+00],
       [ 6.14352286e-01, -9.14189637e-01],
       [-2.22766861e-01,  8.69927257e-02],
       [ 7.57746041e-01, -1.21387517e+00],
       [-3.24509256e-02, -7.03227371e-02],
       [ 5.32798171e-01, -7.32834816e-01],
       [-1.50091410e+00,  1.40588701e+00],
       [-2.22201347e+00,  2.10553074e+00],
       [-1.70735276e+00,  1.72460294e+00],
       [-1.38318503e+00,  1.18678498e+00],
       [-1.88875735e-01,  3.11809517e-02],
       [ 7.57746041e-01, -1.21387517e+00],
       [-6.37435555e-01,  9.44459140e-02],
       [ 3.04005668e-03, -3.53382230e-01],
       [-1.46717870e+00,  1.24968243e+00],
       [ 6.05215371e-01, -9.94707227e-01],
       [-1.39110601e+00,  1.18739045e+00],
       [-3.20680439e-01,  2.51884282e-01],
       [-1.67746389e+00,  1.48594034e+00],
       [ 4.37227070e-01, -8.76711011e-01],
       [-3.32521260e-01,  1.58351243e-01],
       [ 4.37227070e-01, -8.76711011e-01],
       [ 4.37227070e-01, -8.76710951e-01],
       [ 7.57745981e-01, -1.21387517e+00],
       [ 6.14352286e-01, -9.14189637e-01],
       [ 4.37227070e-01, -8.76711011e-01],
       [-1.52016735e+00,  1.42184305e+00],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 6.48886502e-01, -9.36905503e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [-1.34434831e+00,  1.13917780e+00],
       [-4.13461328e-01,  1.50933683e-01],
       [ 1.18294120e-01, -2.46173680e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 6.52190149e-01, -1.07845759e+00],
       [ 7.57746041e-01, -1.21387517e+00],
       [-3.25413406e-01,  1.79244235e-01],
       [ 4.37227070e-01, -8.76711011e-01],
       [-2.35133156e-01,  1.19715229e-01],
       [ 6.14352286e-01, -9.14189637e-01],
       [-2.43913722e+00,  2.27501535e+00],
       [-5.70347130e-01,  4.70601559e-01],
       [ 5.32798171e-01, -7.32834816e-01],
       [-1.60222077e+00,  1.47192311e+00],
       [ 5.28999090e-01, -9.39308941e-01],
       [ 4.38644201e-01, -7.51155615e-01],
       [ 2.60212690e-01, -6.52204096e-01],
       [ 5.28999090e-01, -9.39308941e-01],
       [-3.25413406e-01,  1.79244235e-01],
       [-9.14585888e-01,  4.14296299e-01],
       [-8.69355977e-01,  8.19222867e-01],
       [-1.13838577e+00,  9.06725585e-01],
       [-3.34474385e-01,  2.56145410e-02],
       [ 8.68927896e-01, -1.19105232e+00],
       [ 7.57745981e-01, -1.21387517e+00],
       [-2.63754368e-01, -1.48384452e-01],
       [ 5.32798171e-01, -7.32834816e-01],
       [ 4.37227070e-01, -8.76711011e-01],
       [-2.06169590e-01, -1.95623875e-01],
       [-8.69355977e-01,  8.19222867e-01],
       [ 5.32798171e-01, -7.32834816e-01],
       [ 6.66561782e-01, -9.19209301e-01],
       [ 6.22554004e-01, -9.41933453e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [-2.28127480e+00,  1.97733402e+00],
       [ 3.33706260e-01, -6.71598256e-01],
       [-2.06169590e-01, -1.95623875e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 9.44612920e-02, -2.61780202e-01],
       [ 4.38644201e-01, -7.51155615e-01],
       [ 4.37227070e-01, -8.76711011e-01],
       [-8.69355977e-01,  8.19222867e-01],
       [-1.92897058e+00,  1.81840372e+00],
       [-1.01059929e-01, -3.49671304e-01],
       [-1.00063014e+00,  4.93566573e-01],
       [ 3.56638193e-01, -6.65103197e-01],
       [-3.63140225e-01,  1.31545201e-01],
       [ 4.37227070e-01, -8.76711011e-01],
       [ 5.32798171e-01, -7.32834816e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [-5.77179611e-01,  5.63971102e-01],
       [-1.85285091e+00,  1.81495976e+00],
       [-8.69355977e-01,  8.19222867e-01],
       [-3.24509256e-02, -7.03227371e-02],
       [ 5.28999090e-01, -9.39308941e-01],
       [ 7.57745981e-01, -1.21387517e+00],
       [ 3.48927796e-01, -7.79528797e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 5.32798171e-01, -7.32834816e-01],
       [ 5.28999090e-01, -9.39308941e-01],
       [-7.93308914e-02, -2.17302173e-01],
       [-2.24698639e+00,  2.17187905e+00],
       [ 7.57746041e-01, -1.21387517e+00],
       [-1.67089283e+00,  1.40059304e+00],
       [-2.35133156e-01,  1.19715229e-01],
       [ 2.60212690e-01, -6.52204096e-01],
       [ 5.28999090e-01, -9.39308941e-01],
       [-1.40746367e+00,  1.19947839e+00],
       [-6.52431697e-02,  1.77263804e-02],
       [ 5.32798171e-01, -7.32834816e-01],
       [-7.02290833e-01,  5.54923236e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [-1.45998836e-01, -2.27903128e-01],
       [ 5.28999090e-01, -9.39308941e-01],
       [ 1.11750543e+00, -1.29670620e+00],
       [ 1.06077254e-01, -5.30244708e-01],
       [-1.23316658e+00,  8.49104643e-01],
       [ 5.28999090e-01, -9.39308941e-01],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 2.78725195e+00, -3.34464121e+00],
       [-1.94163930e+00,  1.87257934e+00],
       [-9.04091835e-01,  3.98883581e-01],
       [-6.69933379e-01,  4.67170835e-01],
       [ 5.28999090e-01, -9.39308941e-01],
       [-1.04100645e+00,  9.20889616e-01],
       [ 5.28999090e-01, -9.39308941e-01],
       [-1.61801016e+00,  1.47836423e+00],
       [-2.22201324e+00,  2.10553074e+00],
       [ 5.28999209e-01, -9.39309061e-01],
       [ 1.06077254e-01, -5.30244708e-01],
       [ 1.00444031e+00, -1.38822174e+00],
       [-1.60228685e-01, -1.48545966e-01],
       [ 1.90804049e-01, -3.97189260e-01],
       [-2.00603628e+00,  1.86926723e+00],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 6.14352286e-01, -9.14189637e-01],
       [-6.56228364e-01,  3.84370983e-01],
       [ 1.46250784e+00, -2.18248892e+00],
       [-1.83364308e+00,  1.62477231e+00],
       [-1.46717870e+00,  1.24968243e+00],
       [ 4.37227070e-01, -8.76711011e-01],
       [-2.43913722e+00,  2.27501535e+00],
       [ 1.21019197e+00, -1.72787702e+00],
       [ 2.54321039e-01, -5.67239344e-01],
       [-9.52559888e-01,  6.35818064e-01],
       [-2.22201347e+00,  2.10553074e+00],
       [ 1.18294120e-01, -2.46173680e-01],
       [ 5.19133329e-01, -9.15379703e-01],
       [-2.76109266e+00,  2.55065703e+00],
       [ 4.93220091e-01, -6.87841177e-01],
       [ 5.05272090e-01, -7.85112441e-01],
       [-2.00603628e+00,  1.86926723e+00],
       [-2.40411997e+00,  2.26978493e+00],
       [-6.05634786e-02, -1.15875214e-01],
       [ 5.28999090e-01, -9.39308941e-01],
       [ 3.07753891e-01, -5.65299094e-01],
       [ 3.44249845e-01, -9.56545711e-01],
       [ 6.14352286e-01, -9.14189637e-01],
       [ 6.14352286e-01, -9.14189637e-01],
       [-8.20745766e-01,  5.92012942e-01],
       [-6.56228244e-01,  3.84370774e-01],
       [ 5.28999090e-01, -9.39308941e-01],
       [-1.48641288e+00,  1.26450729e+00],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 6.22138679e-01, -8.02595675e-01],
       [ 6.14352286e-01, -9.14189637e-01],
       [-3.43697160e-01, -2.23229945e-01],
       [-2.06169590e-01, -1.95623875e-01],
       [-2.03962874e+00,  1.91265070e+00],
       [-9.04091835e-01,  3.98883581e-01],
       [ 5.05272090e-01, -7.85112441e-01],
       [ 1.42827725e+00, -1.79245913e+00],
       [-2.13883972e+00,  1.96316719e+00],
       [ 6.14352286e-01, -9.14189637e-01],
       [-2.24641943e+00,  2.11486316e+00],
       [ 7.57746041e-01, -1.21387517e+00],
       [ 6.14352286e-01, -9.14189637e-01],
       [-2.40305805e+00,  2.30033398e+00],
       [ 4.38644201e-01, -7.51155615e-01],
       [-2.76375484e+00,  2.54806137e+00],
       [-2.06169590e-01, -1.95623875e-01],
       [-6.61033243e-02, -1.68652460e-03],
       [ 1.18294120e-01, -2.46173680e-01],
       [ 5.19133329e-01, -9.15379703e-01],
       [ 3.35627235e-02, -1.56369165e-01],
       [-8.69355977e-01,  8.19222867e-01],
       [-4.13461328e-01,  1.50933683e-01],
       [-8.69355977e-01,  8.19222867e-01],
       [-2.22023821e+00,  2.09569788e+00],
       [-4.38105941e-01,  3.27383906e-01],
       [ 4.37227070e-01, -8.76711011e-01],
       [-1.76397431e+00,  1.69021225e+00],
       [ 8.68927956e-01, -1.19105232e+00],
       [ 4.37227070e-01, -8.76710951e-01],
       [-1.24197936e+00,  7.39318907e-01]], dtype=float32)